.google-map {
    /* position: relative; */
    width: 100%;
    height: 90vh;
}

.new-route-container {
    position: absolute;
    z-index: 1000;
    margin-top: 65px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    height: 350px;
    width: 300px;
    border-radius: 0.25em;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
}
.title-container,
.description-container {
    color: black;
    text-align: center;
    margin: 20px;
}

.title-input {
    width: 150px;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
    text-align: center;
    color: lightgray;
    border-radius: 0.25em;
    font-size: 14pt;
}

.description-input {
    width: 200px;
    border: none;
    height: 150px;
    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
    text-align: center;
    border-radius: 0.25em;
    font-size: 14pt;
}

.description-container ::placeholder,
.title-container ::placeholder {
    color: rgb(158, 157, 157);
    font-style: italic;
}

.distance-text {
    font-size: 16pt;
    color: black;
}

.submit-route {
    height: 50px;
    width: 275px;
    background-color: #fc4c02;
    border: 2px solid #fc4c02;
    border-radius: 0.25em;
    color: white;
    font-size: 18px;
}
