.pet-mapImg {
    width: 200px;
    height: 200px;
    border-radius: 10em;
}

.pet-container {
    border: 1px solid black;
    border-radius: 3em;
    background-color: rgb(253, 235, 227);
    margin-left: 25%;
    margin: 20px 25% 20px 25%;
    margin-right: 25%;
    box-shadow: 0px 5px 5px 4px rgba(252, 76, 2, 0.4);
}

.pet-title,
.pet-mapImg,
.pet-description {
    padding: 20px;
}

.pet-edit-delete {
    margin: 10px;
    color: rgba(0, 0, 0, 0.35);
}
