.table-container {
    padding: 50px;
    background-color: rgb(233, 233, 233);
}

.act-modal {
    z-index: 1000;
    width: 300px;
    margin-top: 100px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 0.25em;
    padding: 50px;
    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
}
