.signup-page {
    background: url('../../images/background.JPEG') no-repeat center fixed;
    background-size: cover;
    background-color: black;
    height: auto;
    width: auto;
    text-align: center;
    padding-top: 50px;
}

.signup-container {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 480px;
    width: 375px;
    display: inline-block;
    margin: 50px 50px 50px 50px;
    position: relative;
    margin-bottom: 400px;
}

.signup-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 375px;
    height: 125px;
}

.signup-email-input,
.signup-username-input,
.signup-password-input,
.signup-confirm-password-input {
    color: white;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    height: 40px;
    width: 275px;
    text-align: left;
    border-radius: 0.25em;
    padding: 15px;
}

.submit-signup-button {
    margin: 10px;
    height: 40px;
    width: 275px;
    background-color: #fc4c02;
    border: 2px solid #fc4c02;
    border-radius: 0.25em;
    color: white;
    font-size: 14px;
}

.already-memeber-div {
    margin-top: 50px;
}

.login-navlink {
    color: lightblue;
}
