.landing-page {
    background: url('../../images/landingpage.jpg') no-repeat center fixed;
    background-size: cover;
    background-color: black;
    height: 950px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.landing {
    color: black;
}
