.new-route-container {
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: -100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 250px;
    width: 250px;
    margin-left: 200px;
    margin-bottom: 100px;
}
