.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid black;
    background-color: white;
    height: 50px;
}

.nav-left {
    display: flex;
    padding: 5px;
    width: 100px;
}

.home-link {
    color: tomato;
    font-size: 20pt;
    font-weight: bold;
    margin-left: 100px;
    text-decoration: none;
}

.nav-right {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px;
    text-align: right;
}

.login-signup-container {
    width: 100px;
}

.login-signup-link {
    color: tomato;
    font-size: 20pt;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.button-container {
    width: 25px;
}

.dropdown-container {
    border-radius: 1em;
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
