.nav-logged-in {
    display: flex;
    z-index: 100000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 2px solid black;
    background-color: white;
    height: 60px;
}
.nav-logged-out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: white;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.map-title-container,
.activity-title-container,
.dashboard-title-container {
    padding: 15px;
    margin-right: 150px;
    cursor: pointer;
    position: relative;
}
.add-a-pet {
    cursor: cell;
    padding: 15px;
    margin-right: 150px;
    position: relative;
}
.home-link-container {
    padding-top: 5px;
}

.home-link {
    color: #fc4c02;
    font-size: 28pt;
    font-weight: bolder;
    text-decoration: none;
}

.logout-container {
    text-align: right;
    width: 300px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.logout-dropdown-container {
    cursor: pointer;
    padding: 25px 50px 50px 25px;
    z-index: 10000;
    font-size: 12pt;
    text-decoration: none;
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 2em 0.25em 1em 1em;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.4);
    padding: 25px 25px 50px 25px;
}

.dashboard-dropdown-container,
.activity-dropdown-container,
.map-dropdown-container {
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    margin-top: 15px;
    padding: 25px 25px 50px 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 0.25em 2em 1em 1em;
    box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.4);
}

.create-activity-link,
.activity-link,
.create-route-link,
.dashboard-link {
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin: 20px;
}

.logout-picture {
    height: 50px;
    width: 70px;
    z-index: 1000;
}

.logout-button {
    background-color: #fc4c02;
    border: 2px solid #fc4c02;
    border-radius: 0.25em;
    color: white;
    height: 50px;
    width: 100px;
}

.link-container {
    padding: 25px 10px 25px 0px;
}

.pet-form-container {
    padding: 50px;
}

.modal-container {
    z-index: 1000;
    margin-top: 40px;
    width: 800px;
    margin-left: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 0.25em;

    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
    padding: 10px;
}

.modal-container-pet {
    z-index: 1000;
    width: 450px;
    margin-top: 100px;
    margin-left: 30%;

    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 0.25em;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
}

.name-input,
.breed-input,
.birthday-input {
    height: 35px;
    width: 250px;
    margin-top: 10px;
}

.a {
    margin-top: 10px;
    height: 30px;
    width: 60%;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(219, 218, 218, 0.7);
    text-align: center;
    color: lightgray;
    border-radius: 0.25em;
}

.type-container,
.which-pet-container,
.date-container,
.time-container,
.actDistance-container,
.focus-container,
.duration-container,
.notes-container,
.activity-button {
    margin-top: 10px;
    font-size: 12pt;
}

.activity-add-title,
.or {
    color: #fc4c02;
    margin: 10px;
    /* margin-top: 20px; */
}

.activity-button {
    height: 50px;
    width: 275px;
    background-color: #fc4c02;
    border: 2px solid #fc4c02;
    border-radius: 0.25em;
    color: white;
    font-size: 18px;
}

.x {
    margin-right: 10px;
}
