.nav-logged-in {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    border-bottom: 2px solid black;
    background-color: white;
    height: 60px;
}
.nav-logged-out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: white;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.activities-link,
.dashboard-link,
.routes-link,
.nav-signup-link {
    color: black;
    text-decoration: overline;
    font-size: 10pt;
}

.dashboard-nav-link-container,
.activities-nav-link-container,
.routes-nav-link-container,
.nav-signup-container {
    padding: 15px;
}

.home-link {
    color: #fc4c02;
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
}

.home-link-container {
    padding-top: 5px;
}

.logout-container {
    text-align: right;
    width: 300px;
    height: 70px;
    box-sizing: border-box;
}

.dropdown-container {
    text-align: center;
    height: 200px;
    border-radius: 5em 0em 5em 5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.logout-picture {
    height: 50px;
    width: 70px;
    z-index: 1000;
}

.logout-button {
    margin-top: 0px;
    border-radius: 10em 10em 10em 0em;
    height: 60px;
}

@media screen and (max-width: 750px) {
    .logout-container {
        visibility: hidden;
    }
    .dropdown-container {
        visibility: hidden;
    }
}
